<div class="card-properties">
    <h3>Card Properties</h3>

    <label>Card Name:</label>
    <input [(ngModel)]="cardName" (input)="onNameChange()" placeholder="Card name" />

    <ng-container *ngIf="!isLocked; else variableInputs">
        <label>HTML Content:</label>
        <textarea
                [(ngModel)]="htmlText"
                (input)="onHtmlChange()"
                rows="8"
                placeholder="Enter HTML code..."
        ></textarea>
    </ng-container>

    <ng-template #variableInputs>
        <div *ngFor="let key of variableKeys">
            <label>{{ key }}:</label>
            <input [(ngModel)]="localVariables[key]" (input)="onVariableChange(key)" placeholder="Enter value..." />
        </div>
        <button *ngIf="!isEditingTemplate" (click)="editTemplate()">Edit Template</button>
    </ng-template>

    <button (click)="saveNewCard()">Save New Card</button>
</div>