<div class="card-properties">
    <h3>Card Properties</h3>

    <label>Card Name:</label>
    <input [(ngModel)]="cardName" (input)="onNameChange()" placeholder="Card name" />

    <ng-container *ngIf="!isEditingTemplate; else variableInputs">
        <label>Card Variables:</label>
        <div *ngFor="let key of variableKeys">
            <label>{{ key }}:</label>
            <input [(ngModel)]="localVariables[key]" (input)="onVariableChange(key)" placeholder="Enter value..." />
        </div>
        <button (click)="editTemplate()">Edit Template</button>
    </ng-container>

    <ng-template #variableInputs>
        <label>Template HTML:</label>
        <textarea
                [(ngModel)]="htmlText"
                (input)="onHtmlChange()"
                rows="8"
                placeholder="Enter HTML code..."
        ></textarea>
        <button (click)="saveNew()">Save as New Template</button>
        <button (click)="duplicateTemplate()">Duplicate Template</button>
    </ng-template>
</div>
