<div class="canvas-block">
    <h3 class="canvas-title" (click)="selectCanvas()">Canvas</h3>

    <div class="canvas-container">
        <div
                *ngFor="let card of cards"
                class="canvas-card"
                [class.selected]="isSelected(card)"
                [style.width.px]="canvas.cardWidth"
                [style.height.px]="canvas.cardHeight"
                [style.margin.px]="canvas.distanceBetweenCards"
                (click)="selectCard(card)"
        >
            <div class="card-inner" [innerHTML]="getSafeHtml(card)"></div>
        </div>
    </div>
</div>
