<div class="canvas-properties">
    <h4>Canvas Properties</h4>

    <label>
        Card Width:
        <input type="number" [(ngModel)]="canvas.cardWidth" (input)="updateCanvas()" />
    </label>
    <br>
    <label>
        Card Height:
        <input type="number" [(ngModel)]="canvas.cardHeight" (input)="updateCanvas()" />
    </label>
    <br>
    <label>
        Canvas Width:
        <input type="number" [(ngModel)]="canvas.canvasWidth" (input)="updateCanvas()" />
    </label>
    <br>
    <label>
        Canvas Height:
        <input type="number" [(ngModel)]="canvas.canvasHeight" (input)="updateCanvas()" />
    </label>
    <br>
    <label>
        Distance between cards:
        <input type="number" [(ngModel)]="canvas.distanceBetweenCards" (input)="updateCanvas()" />
    </label>

</div>
